@use "vars" as vars;
@use "fonts";
@use "res";

* {
  box-sizing: border-box;
}

body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  padding-top: 50px;
  margin: 0;

  background: gray url("https://inkhk3.org/binding_dark2.png");
}

.egypt {
  font-family: 'Umschrift', serif;
}

article {
  position: absolute;
  width: vars.$art-wid;
  max-width: vars.$art-wid;
  max-height: 90vmin;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  padding: 1vmin vars.$art-pad-w;
  overflow: hidden;

  background: url("https://inkhk3.org/paper_fff.jpg");

  &, &::after, &::before {
    color: #333;
  }

  header {
    h1 {
      margin: 0;
      text-align: justify;
    }

    border-bottom: 2px solid black;
  }

  div.amduat {
    margin: 0;
    padding: 0.2em 0;
    font-size: 6vmin;
    overflow: hidden;
    text-align: center;
    line-height: 0.4em;

    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }

  footer {
    font-size: 3.5vmin;

    table {
      border-spacing: 0;
      border-collapse: collapse;
    }

    td, th {
      text-align: center;
      border: 1px solid black;
      min-width: 1.25rem;
    }

    tr {
      &:first-of-type {
        th {
          border-top: 2px solid black;
        }
      }

      &:last-of-type {
        td {
          border-bottom: 2px solid black;
        }
      }

      td {
        border-bottom: 2px solid black;
      }

      td, th {
        &:first-of-type {
          border-left: 2px solid black;
        }

        &:last-of-type {
          border-right: 2px solid black;
        }

        &:nth-of-type(even) {
          background-color: cadetblue;
        }
      }
    }
  }

  blockquote {
    margin: 0;
    position: relative;
    padding-top: 4vmin;

    &::after,
    &::before {
      display: block;
      position: relative;
      margin: 0;
      padding: 0;
    }

    &::after {
      content: "”";
      float: right;
    }

    &::before {
      content: "“";
      float: left;
    }

    p {
      font-weight: 900;
      font-size: 3.5vmin;
      margin: 0;
    }

    cite {
      display: block;
      text-align: justify;
      margin-top: 1rem;

      &::before {
        content: "—";
        margin-right: 0.5rem;
      }
    }
  }
}

@media only screen and (max-width: vars.$screen-xs-max) {
  article {
    width: vars.$article-sm-width;
    max-width: vars.$article-sm-width;
    padding: 3vmin vars.$article-sm-pad-w;
    font-size: 4vmin;

    header {
      border-bottom: 1px solid black;

      h1 {
        font-size: 9vmin;
      }
    }

    blockquote {
      &::before, &::after {
        font-size: 15vmin;
        line-height: 5vmin;
      }

      &::before {
        top: 2vmin;
      }

      &::after {
        bottom: 8vmin;
        margin-bottom: -8vmin;
      }

      p {
        display: block;
        margin: 0 7vmin;
        font-size: 6.15vmin;
      }

      cite {
        margin-top: 1rem;
        padding-left: 6.5vmin;
      }
    }
  }
}

@media only screen and (min-width: vars.$screen-sm-min) {
  article {
    width: vars.$article-sm-width;
    max-width: vars.$article-sm-width;
    padding: 3vmin vars.$article-sm-pad-w;
    font-size: 4vmin;

    header {
      border-bottom: 1px solid black;

      h1 {
        font-size: 7.5vmin;
      }
    }

    blockquote {
      &::before, &::after {
        font-size: 11vmin;
        line-height: 5vmin;
      }

      &::before {
        top: 1.5vmin;
      }

      &::after {
        bottom: 7.5vmin;
        margin-bottom: -7.5vmin;
      }

      p {
        display: block;
        margin: 0 7vmin;
        font-size: 6vmin;
        //border: 1px solid red;
      }

      cite {
        margin-top: 1rem;
        padding-left: 6.5vmin;
      }
    }
  }
}

.hide {
  display: none;
  visibility: hidden;
}

//@media only screen and (min-width: vars.$screen-md-min) {
//  article {
//    width: vars.$article-sm-width;
//    max-width: vars.$article-sm-width;
//    padding: 3vmin vars.$article-sm-pad-w;
//    font-size: 4vmin;
//
//    header {
//      border-bottom: 1px solid black;
//
//      h1 {
//        font-size: 9vmin;
//      }
//    }
//
//    blockquote {
//      &::before, &::after {
//        font-size: 15vmin;
//        line-height: 5vmin;
//      }
//
//      &::before {
//        top: 2vmin;
//      }
//
//      &::after {
//        bottom: 8vmin;
//        margin-bottom: -8vmin;
//      }
//
//      p {
//        display: block;
//        margin: 0 7vmin;
//        font-size: 6.15vmin;
//      }
//
//      cite {
//        margin-top: 1rem;
//        padding-left: 6.5vmin;
//      }
//    }
//  }
//}

//@media only screen and (min-width: vars.$screen-lg-min) {
//  article {
//    width: vars.$article-sm-width;
//    max-width: vars.$article-sm-width;
//    padding: 3vmin vars.$article-sm-pad-w;
//    font-size: 4vmin;
//
//    header {
//      border-bottom: 1px solid black;
//
//      h1 {
//        font-size: 9vmin;
//      }
//    }
//
//    blockquote {
//      &::before, &::after {
//        font-size: 15vmin;
//        line-height: 5vmin;
//      }
//
//      &::before {
//        top: 2vmin;
//      }
//
//      &::after {
//        bottom: 8vmin;
//        margin-bottom: -8vmin;
//      }
//
//      p {
//        display: block;
//        margin: 0 7vmin;
//        font-size: 6.15vmin;
//      }
//
//      cite {
//        margin-top: 1rem;
//        padding-left: 6.5vmin;
//      }
//    }
//  }
//}
