//@use "fonts";

/* hack to force timely loading of fonts */
#res_outsidescreen {
	overflow: hidden;
	position: absolute;
}
.res_outsidescreen_elem {
	position: absolute;
	height: 100px;
	width: 100px;
	right: 50px;
	top: 50px;
}

.res {
	vertical-align: -0.1em;
	font-size: 0.7em;
	line-height: 1em;
}

.res_uni {
	vertical-align: -10px;
	font-size: 36px;
}

.res_demo {
	border: 1px solid #000000;
}

span {
	&.hi {
		font-family: Hieroglyphic;
	}

	&.hiaux {
		font-family: HieroglyphicAux;
	}

	&.hinotes {
		font-family: HieroglyphicPlain;
	}

	&.res_sign {
		font-family: Hieroglyphic;
		vertical-align: 0;
		font-size: 36px;
		font-weight: normal;
	}

	&.res_high {
		vertical-align: -10px;
	}

	&.res_low {
		vertical-align: 0;
		line-height: 70%;
	}

	&.egytransl {
		font-family: Transliteration;
		font-weight: normal;
		font-style: normal;
	}
}
