// ==================================================================================================
// EVERYTHING BELOW THIS LINE...
//
// ...is ripped straight out of Twitter Bootstrap, as of 2025-12-19
//
// Additionally, so is the code in the mixins directory. `./_mixins.scss` is an altered copy from
// the Bootstrap repo as of the same date.
//
// LEGAL SHIT: They own all copyrights, licenses, patents, blah blah blah. As of the same date,
//     the Bootstrap repo and its contents are under the MIT license.
//

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

@import "functions";

// scss-docs-start grid-breakpoints
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
) !default;
// scss-docs-end grid-breakpoints

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

// scss-docs-start container-max-widths
$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1320px
) !default;
// scss-docs-end container-max-widths

@include _assert-ascending($container-max-widths, "$container-max-widths");
