// The following google font does not support the necessary utf characters for Egyptological transliteration
//@import url(https://fonts.googleapis.com/css?family=Nixie+One|Trocchi|Special+Elite);

@use "sass:map";

@font-face {
  font-family: 'Umschrift';
  font-weight: normal;
  font-style: normal;
  src: url("/UMSCH_S.TTF") format('truetype');
}

@font-face {
  font-family: 'Umschrift';
  font-weight: bold;
  font-style: normal;
  src: url("/UMSCH_SB.TTF") format('truetype');
}

@font-face {
  font-family: 'Umschrift';
  font-weight: normal;
  font-style: italic;
  src: url("/UMSCH_I.TTF") format('truetype');
}

@font-face {
  font-family: 'Umschrift';
  font-weight: bold;
  font-style: italic;
  src: url("/UMSCH_IB.TTF") format('truetype');
}

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
) !default;

$screen-xs-min: map.get($grid-breakpoints, "xs") !default;
$screen-sm-min: map.get($grid-breakpoints, "sm") !default;
$screen-md-min: map.get($grid-breakpoints, "md") !default;
$screen-lg-min: map.get($grid-breakpoints, "lg") !default;
$screen-xl-min: map.get($grid-breakpoints, "xl") !default;
$screen-xxl-min: map.get($grid-breakpoints, "xxl") !default;

$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;
$screen-lg-max: ($screen-xl-min - 1) !default;
$screen-xl-max: ($screen-xxl-min - 1) !default;

$art-wid: 85vmin;
$art-pad-w: 5vmin;

$article-xs-width: $art-wid;
$article-xs-pad-w: $art-pad-w;


$article-sm-width: $art-wid;
$article-sm-pad-w: $art-pad-w;

$article-md-width: $art-wid;
$article-md-pad-w: 2.5vmin;

$article-lg-width: $art-wid;
$article-lg-pad-w: $art-pad-w;

$article-xl-width: $art-wid;
$article-xl-pad-w: $art-pad-w;

//$nav-height: 50px;
//
//$quote-height: 100px;
//$quote-width: 100px;

* {
  box-sizing: border-box;
}

body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  padding-top: 50px;
  margin: 0;

  background: gray url("https://inkhk3.org/binding_dark2.png");
}

.egypt {
  font-family: 'Umschrift', serif;
}

article {
  position: absolute;
  width: $art-wid;
  max-width: $art-wid;
  max-height: 90vmin;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  padding: 1vmin $art-pad-w;
  overflow: hidden;

  background: url("https://inkhk3.org/paper_fff.jpg");

  font-family: serif;
  //font-family: 'Special Elite', serif;
  color: #333;

  header {
    h1 {
      margin: 0;
      text-align: justify;

      border-bottom: 2px solid black;
    }
  }

  footer {
    display: none;
    visibility: hidden;

    font-size: 3.5vmin;

    table {
      border-spacing: 0;
      border-collapse: collapse;
    }

    td, th {
      text-align: center;
      border: 1px solid black;
      min-width: 1.25rem;
    }

    tr {
      &:first-of-type {
        th {
          border-top: 2px solid black;
        }
      }

      &:last-of-type {
        td {
          border-bottom: 2px solid black;
        }
      }

      td {
        border-bottom: 2px solid black;
      }

      td, th {
        &:first-of-type {
          border-left: 2px solid black;
        }

        &:last-of-type {
          border-right: 2px solid black;
        }

        &:nth-of-type(even) {
          background-color: cadetblue;
        }
      }
    }
  }

  blockquote {
    margin: 0;
    position: relative;
    padding-top: 4vmin;

    &::after,
    &::before {
      display: block;
      position: relative;
      margin: 0;
      padding: 0;
    }

    &::after {
      content: "”";
      float: right;
    }

    &::before {
      content: "“";
      float: left;
    }

    p {
      font-weight: 900;
      font-size: 3.5vmin;
      margin: 0;
    }

    cite {
      display: block;
      text-align: justify;
      margin-top: 1rem;

      &::before {
        content: "—";
        margin-right: 0.5rem;
      }
    }
  }
}

@media only screen and (max-width: $screen-xs-max) {
  article {
    width: $article-sm-width;
    max-width: $article-sm-width;
    padding: 3vmin $article-sm-pad-w;
    font-size: 4vmin;

    header {
      border-bottom: 1px solid black;

      h1 {
        font-size: 9vmin;
      }
    }

    blockquote {
      &::before, &::after {
        font-size: 15vmin;
        line-height: 5vmin;
      }

      &::before {
        top: 2vmin;
      }

      &::after {
        bottom: 8vmin;
        margin-bottom: -8vmin;
      }

      p {
        display: block;
        margin: 0 7vmin;
        font-size: 6.15vmin;
      }

      cite {
        margin-top: 1rem;
        padding-left: 6.5vmin;
      }
    }
  }
}

@media only screen and (min-width: $screen-sm-min) {
  article {
    width: $article-sm-width;
    max-width: $article-sm-width;
    padding: 3vmin $article-sm-pad-w;
    font-size: 4vmin;

    header {
      border-bottom: 1px solid black;

      h1 {
        font-size: 7.5vmin;
      }
    }

    blockquote {
      &::before, &::after {
        font-size: 11vmin;
        line-height: 5vmin;
      }

      &::before {
        top: 1.5vmin;
      }

      &::after {
        bottom: 7.5vmin;
        margin-bottom: -7.5vmin;
      }

      p {
        display: block;
        margin: 0 7vmin;
        font-size: 6vmin;
        //border: 1px solid red;
      }

      cite {
        margin-top: 1rem;
        padding-left: 6.5vmin;
      }
    }
  }
}

//@media only screen and (min-width: $screen-md-min) {
//  article {
//    width: $article-sm-width;
//    max-width: $article-sm-width;
//    padding: 3vmin $article-sm-pad-w;
//    font-size: 4vmin;
//
//    header {
//      border-bottom: 1px solid black;
//
//      h1 {
//        font-size: 9vmin;
//      }
//    }
//
//    blockquote {
//      &::before, &::after {
//        font-size: 15vmin;
//        line-height: 5vmin;
//      }
//
//      &::before {
//        top: 2vmin;
//      }
//
//      &::after {
//        bottom: 8vmin;
//        margin-bottom: -8vmin;
//      }
//
//      p {
//        display: block;
//        margin: 0 7vmin;
//        font-size: 6.15vmin;
//      }
//
//      cite {
//        margin-top: 1rem;
//        padding-left: 6.5vmin;
//      }
//    }
//  }
//}

//@media only screen and (min-width: $screen-lg-min) {
//  article {
//    width: $article-sm-width;
//    max-width: $article-sm-width;
//    padding: 3vmin $article-sm-pad-w;
//    font-size: 4vmin;
//
//    header {
//      border-bottom: 1px solid black;
//
//      h1 {
//        font-size: 9vmin;
//      }
//    }
//
//    blockquote {
//      &::before, &::after {
//        font-size: 15vmin;
//        line-height: 5vmin;
//      }
//
//      &::before {
//        top: 2vmin;
//      }
//
//      &::after {
//        bottom: 8vmin;
//        margin-bottom: -8vmin;
//      }
//
//      p {
//        display: block;
//        margin: 0 7vmin;
//        font-size: 6.15vmin;
//      }
//
//      cite {
//        margin-top: 1rem;
//        padding-left: 6.5vmin;
//      }
//    }
//  }
//}
